<div id="footer">
     <div class="footer-info-item">
         <p><span class="bold">Contact </span><a href="{{PROJECT_URL}}"><img class="icon" src="{{SITEURL}}/theme/images/github-dark-20.png" alt="{{PROJECT_NAME}} on Github">{{PROJECT_NAME}} Project on Github</a><a href="mailto:{{PROJECT_MAIL}}"><img class="icon" src="{{SITEURL}}/theme/images/mail-dark-20.png" alt="E-Mail">{{PROJECT_MAIL}}</a></p>
         <p><span class="bold">{{PROJECT_NAME}} </span>Current version: {{ VERSION }} &ndash; {{ COPYRIGHT }} {{AUTHOR}}</p>
     </div>
</div>

